{% load static %}
<!----------  FOOTER-START  ---------->
<div id="footer">
  <div id="footer1">
      <img class="first" src="images/Logo1.png" alt="">
      <div class="footer_links">
          <h2>Useful Links</h2>
          <h6><a href="Refund-policy.html" style="display: block;text-decoration: none;">Refund Policy</a></h6>
          <h6><a href="terms&co.html" style="display: block;text-decoration: none;">Terms & Conditions</a></h6>
          <h6><a href="privacy-policy.html" style="display: block;text-decoration: none;">Privacy Policy</a></h6>
          <h6><a href="privacy-policy.html" style="display: block;text-decoration: none;">Promo Codes</a></h6>
          <h6><a href="faqs.html" style="display: block;text-decoration: none;">FAQs</a></h6>
      </div>
      <div class="flist2">
          <h4>Payment Methods</h4>
          <ul class="flist2-inner">
            <li><img src="{% static 'images/cash-svg.svg' %}" width="50" height="30" alt="cash icon">
                <img src="{% static 'images/mastercard-svg.svg' %}" width="50" height="30" alt="Master Card">
                <img src="{% static 'images/gpay-svg.svg' %}" width="50" height="30" alt="Google Pay">
            </li>
            <li><img src="{% static 'images/paytm-svg.svg' %}" width="50" height="30" alt="Paytm">                    
                <img src="{% static 'images/visa-svg.svg' %}" width="50" height="30" alt="Visa">
                <img src="{% static 'images/upi-icon.svg' %}" width="50" height="30" alt="UPI">
            </li>
          </ul>
      </div>
      <div class="flist3">
          <h4>Contact Us</h4>
          <ul class="flist3-inner">
            <li><span>Customer Support </span>
              <a href="mailto:support@mealscout.in" style="display: block;text-decoration: underline;">support@mealscout.in</a>
            </li>
            <li><span>Franchise Enquiry </span>
              <a href="mailto:info@mealscout.in" style="display: block;text-decoration: underline;">info@mealscout.in</a>										
            </li>
          </ul>
      </div>
      
      <div class="footer_links">
          <h2>Social Media</h2>
          <div class="footer_links1">
              <img  src="https://img.icons8.com/ios/50/FFFFFF/instagram-new--v1.png" alt="instagram-new--v1"/>
              <img  src="https://img.icons8.com/ios-filled/50/FFFFFF/facebook-f.png" alt="facebook-f"/>
              <img  src="https://img.icons8.com/glyph-neue/64/FFFFFF/twitter.png" alt="twitter"/>
          </div>
      </div>
  </div>
  <div id="footer2">
      <div id="contactus">
          <h3>Web Accessibility</h3>
          <h3>|</h3>
          <h3>Privacy statement</h3>
          <h3>|</h3>
          <h3><a href="terms&co.html" style="display: block;text-decoration: none;color: #fff;">Terms of Use</a></h3>
          <h3>|</h3>
          <h3>Contact Us</h3>
      </div>
      <h6>&copy; 2024 MealScout  |  All rights reserved</h6>
      
  </div>
</div>
<h1 class="mwlove"><b>Made with ❤️ in India <img src="{% static 'images/india-flag-icon.webp' %}" style="margin-left: 4px; height: 12px;"></b></h1>
</div>









{% comment %} <footer class="page-footer font-small bg-secondary fixed-bottom">
    <div class="footer-copyright text-center py-3">&copy; 2024 Copyright:
        <a href="http://localhost:8000">Deliver</a>
        <a class="ml-3 " href="{% url 'dashboard' %}"> Restaurant Login</a>
    </div>
</footer> {% endcomment %}

{% comment %} <footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">&copy; 2024 Copright: </a>
    </div>
    <!-- Copyright -->
  </footer> {% endcomment %}